body{
    margin:0;
    padding:0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:14px;
    max-width:80%;
    margin:auto;
}

.colunas{
    display:block;
}

.coluna1{
    vertical-align: top;
    display:inline-block;
    margin-left:50px;
    max-width:240px;
}

.coluna2{
    vertical-align: top;
    display:inline-block;
    margin-left:50px;
    max-width: 240px;
    
}


.top{
    margin-left:40px;
}

ul{
    list-style: none;
    
}

li{
    margin-bottom:20px;
}

.bold{
    font-weight: bolder;
}

.tel{
    background:white;
    border-radius: 4px;
    border-color:rgb(180, 231, 250);
    border-style:ridge;
    padding-top:5px;
    padding-bottom:5px;
    width:200px;
    height:40px;
    color:rgb(85, 135, 151);
    cursor:pointer;

}

.rodape{
    font-size: 12px;
    padding:2px;
    margin:0;
}

.rodape > li{
    display:inline-block;
}

.rodape .bold{
    font-size:bold;
}

/*media queries para visualização responsiva em tablets e smartphones*/
@media screen and (max-width:958px){
    .colunas{
        text-align:left;
    }

    .coluna1{
        font-size: 16px;
    }

    .coluna2{
      font-size: 16px;
    }
}

@media screen and (max-width:730px){
    .coluna1{
        margin-left:50px;
    }
    .coluna2{
    max-width:220px;
    margin-bottom:20px;
    margin-left:50px;
    }
}

@media screen and (max-width:450px){
    .coluna1{
        margin-left:0;
    }

    .coluna2{
        margin-left:0;
    }

    .top{
        font-size: 24px;
        background-color: lightblue;
        text-align: center;
        border-radius: 4px;
    }
}